
body {
	background-color: rgb(225, 230, 240);
}
.row:after{
  content: "";
  display: flex;
  clear: both;
  }

  header{
  	background-color: rgb(137, 207, 240, 30%);
  	height: 50px;
  	margin-top: 0%;
  	  	position: absolute;
		top: 0;
		width: 100%;
  	
  }

  footer{
	background-color: rgb(137, 207, 240, 30%);
  	height: 50px;
  	  	position: absolute;
		width: 100%;
}

/* LINHAS DE CÓDIGO DA PÁGINA HOME*/
.coluna1{
	float: left;
	width: 50%;
	height: 100%;
}
.coluna2{
	float: right;
	width: 50%;
	height: 100%;
}

h1:first-line{
	font-style: italic;

}



h1, h2 {
	margin-top: 5%;
	text-align: center;
	display: block;
	opacity: 50%;
	font-weight: bold;
}

h1 {
	font-size: 25px;
	margin-top: 110px;
	text-align: center;
}

h2 {
	font-size: 20px;
	margin-top: 0px;
	text-align: center;
	text-indent: 4px;
}


#listatoda{
	padding: 10% 0% 10% 7%;
}

.lista {
	opacity: 70%;

}

.lista img{
	background-color: #d4dcf2;
	opacity: 60%;
}

.lista img:hover{
	background-color: rgb(60 74 90);
	transition: 0.3s;
	border: none;
	opacity: 100%;

}

#conta {
	margin-top: 60px;
	margin-bottom: 30px;
	opacity: 50%;
	font-size: 1.2em;
	font-weight: bolder;
	text-align: center;
}

/*cabeçalho home */
.cabeçalhohome ul li {
	
	opacity: 80%;
	color: rgb(68, 85, 90);
	display: inline;
	margin-left: 15px; 
	background-color: rgb(137, 207, 240, 30%);
	font-size: 1.1em;
	 
}

.cabeçalhohome ul li:hover{
	background-color: rgb(137, 207, 240); 
	transition: 0.3s;
	opacity: 100%;
	box-shadow: 1px 1px 2px grey;

}

.cabeçalhohome ul{
	text-align: right;
	margin-right: 80px;
	margin-top: 15px;
}

.carrinho {
	display: flex;
	margin: 8px auto;
	margin-top: 30%;
	opacity: 80%;

	width: 65%;
	height: auto;
}


.videosobre{
	text-align: center;
	margin-bottom: 20px;
}



/*LINHAS DE CÓDIGO DA PÁGINA SOBRE*/

.coluna21, .coluna22, .coluna23{
	float: left;
	width: 33.33%;
}

.coluna21 h1, .coluna22 h1, .coluna23 h1{
	margin-top: 70px;
}

.coluna21 p, .coluna22 p, .coluna23 p{
	text-align: center;
	opacity: 60%;
}


.cabeçalho2 ul li{

	display: inline;
	text-transform: uppercase;
	opacity: 60%;
	color: rgb(68, 85, 90);
	margin: 0 0 0 15px;


}
.cabeçalho2 ul{
	text-align: right;
	margin-right: 100px;
	margin-top: 30px;
}
*{
	
}
.row .divsobre img, .row .divempresa img, .row .divcriador img{

	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius:50%;
    height: 225px;
    transition: 0.3s;
}

.row .divsobre img:hover, .row .divempresa img:hover, .row .divcriador img:hover{
	width: 110%;
	height: 240px;
	transition: 0.3s;
}

.divsobre, .divempresa, .divcriador {
;	
	width: 300px;
	margin: auto;
	margin-top: 30%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;


}

#texto{
	font-size: 1.3em;
	margin: auto;
	margin-top: 50px;
	max-width: 80%;
	word-wrap: word-break;
	word-break: break-word;

}

.titulomapa{
	font-size: 30px;
	padding: 10% 0% 2% 0%;
}

.mapa{
	margin-bottom: 20px;
	text-align: center;
	padding: 3px solid blue;
	max-height: 400px ;
}

/*css da pagina contact*/

main{
	margin-top: 30%;
	width: 100%;
}

label{

	opacity: 60%;

}

form{
	margin:50px 3%;
}

form label{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

form input{
	display: block;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: 50%;
	background-color: rgb(137, 207, 240, 30%);
}
#mensagem{
	width: 50%;
	background-color: rgb(137, 207, 240, 30%);
}
#email{
}

.botaoformulario{
	text-align: center;
	justify-content: center;
	background-color: rgb(137, 207, 240, 30%);
	border: 1px solid grey;
	color: rgb(0, 0, 0, 60%);

}
.botaoformulario:hover{
	background-color: rgb(137, 207, 240); 
	transition: 0.3s;
	opacity: 100%;

}


.select{
	font-size: 25px;
	text-align: center;
	color: rgb(0, 0, 0, 60%);
}

.select select{

		text-align: center;
	justify-content: center;
	background-color: rgb(137, 207, 240, 30%);
	border: 1px solid grey;


}
.select select:hover{
	background-color: rgb(137, 207, 240); 
	transition: 0.3s;
	opacity: 100%;














